.container {
    margin: 20px;
}

.salaItem {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

.btn {
    transition: all .3s;
    background-color: rgb(99, 112, 116);
}

.btn:hover{
    background-color: rgb(29, 28, 28);
}

/* Admin.module.css */
.form-select {
    background-color: #343a40; /* Cor de fundo escura */
    color: #ffffff; /* Cor do texto clara */
    border: 1px solid #495057; /* Cor da borda */
}

.form-select option {
    background-color: #343a40; /* Cor de fundo escura para opções */
    color: #ffffff; /* Cor do texto clara para opções */
}

.form-select:focus {
    border-color: #80bdff; /* Borda azul no foco */
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25); /* Sombra azul no foco */
}
