.container{
    background-color: rgb(55, 88, 49);
    padding: .5em;
}

.list {
    display: flex;
    list-style: none;
}

.list li{
    margin-right: 1em;
}

.link {
    color: black;
    transition: all .4s;
    text-decoration: none;
}

.link:hover{
    color: aqua;
}