
.container{
    background-color: #373737;
    padding: .5em;
    display: flex;
}

.list {
    margin-left: 1em;
    display: flex;
    list-style: none;
}

.list li{
    margin-right: 1em;
}

.link {
    transition: all .4s;
    text-decoration: none;
}

.link:hover{
    color: aqua;
}