
.container{
    background-color: #373737;
    padding: .5em;
    display: flex;
    align-items: center;
}

.list {
    margin-left: 1em;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.list li{
    margin-right: 1em;
}

.link {
    transition: all .4s;
    text-decoration: none;
}

.link:hover{
    color: aqua;
}

.btn {
    transition: all .3s;
    background-color: rgb(99, 112, 116);
}

.btn:hover{
    background-color: rgb(29, 28, 28);
}

.btnli{
    text-align: center;
}